@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .invisible-alpha {
    opacity: 0;
    filter: opacity(0%);
  }

  .visible-alpha {
    opacity: 100;
    filter: opacity(100%);
  }
}
